@layout('base')
@section('content')
  <div class='container p-5'>
    <img src='http://127.0.0.1:3333/img/logo.png' width='120'/>
    <h3 class='white-text mt-4'>Restablecer tu contraseña</h3>

    <form action="/password/reset" method="post">
      <div class="md-form">
        <input type="password" id="password" name="password" class="form-control">
        <label for="password">Nueva contraseña</label>
      </div>
      <div class="md-form">
        <input type="password" id="password_confirm" name="password_confirm" class="form-control">
        <label for="password_confirm">Confirmar contraseña</label>
      </div>
      <input type="hidden" name="token" value="{{ token }}">
      <button type="submit" class='btn btn-purple align-self-center mt-2'>Cambiar contraseña</button>
    </form>
  </div>
@endsection
